*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #8fb1cd;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #333;
}

.wrapper{
    max-width: 1200px;
    background-color: #37458c;
    margin: 0 auto;
}

.box{
    height: 100vh;
    overflow: auto;
}

.box1{
    background-color: rgb(246, 253, 167);
}

.box2{
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.box3{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(100,142,238,1) 50%, rgba(252,176,69,1) 100%);
}

.box3 p{
    width: 50%;
    height: 50%;
    background-color: rgba(107, 157, 214, 0.325);
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.box4{
    background-image: url("img/ava7patterns_pattern_1832.png");
}

.box5{
    background-image: url("img/Screenshot_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box5 p{
    width: 50%;
    height: 50%;
    background-color: #00000036;
    color: #fff;
    padding: 15px;
    border-radius: 79px;
background: #729d81;
box-shadow:  27px 27px 54px #577762,
             -27px -27px 54px #8dc3a0;
}

.box6{
    background-image: url("img/Screenshot_3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
